*{
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
    padding: 0px;
    margin: 0%;
}

/*-----------------------------------------------------------------------------------------------
------------------------------------------BODY---------------------------------------------------
-------------------------------------------------------------------------------------------------*/

body{
    background-color: white;
}

/*----------------------------------------HEADER------------------------------------------------*/

.copy_header{
    position: fixed;
    top:0;
    align-items: center;
    background-color: white; 
    display: flex;
    height: 20vh;
    padding: 5px;
    width: 100vw;
    top: 0px;
    z-index: 40;
}

/*--------MENU --------*/

.barra_menu{
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: flex-end;
    width: 100%;
}

.barra_menu ul{
    display: flex;
    z-index: 60;
}

.barra_menu ul li{
    list-style-type:none;
    font-size: 1.4em;
    padding-right: 10px;
}

.barra_menu ul li a{
    color:  #6b5b49;
    padding: 7px 10px;
    text-decoration:none;
}

.barra_menu ul li a:hover{
    color:  whitesmoke;
    background-color: rgb(122, 109, 95);
}

.checkbtn{
    color:  #6b5b49;
    float: right;
    display: none;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
}
#check{
    display: none;
}

section{
    height: calc(100vh - 80px);
}
/*-----------------------------------------------FIN HEADER---------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------HOJA ESTILO INDEX-------------------------------------------*/
/*--------------------------------------------------MAIN------------------------------------------------------*/

.imgppal{
    height: 47vmax;
    margin-top: 100px;
    max-width: 100%;
    width: 100%;
}

.imgppal img{
    flex-grow: 1;
    text-align: center;
    height: auto;
    width: 100vw;
}

#titulo{
    color: rgb(122, 109, 95);
    font-size: 2em;
    text-align: center;
    top: 20px;
}

#titulo a:link {color: rgb(122, 109, 95);text-decoration: none;}
#titulo a:hover {color: rgb(122, 109, 95)}
#titulo a:visited {color: rgb(122, 109, 95)}
#titulo a:active {background-color: whitesmoke; color: rgb(122, 109, 95)}

/*------------------NOSOTROS---------------------------*/

#nosotros{
    align-items: center;
    color:  #212022;
    display: grid;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    margin-top: 0px;
    padding: 30px;
}
.detalle-nosotros{
    padding-top: 30px;
    text-align: center;
    font-size: 1.4em;
}

/*------------------SERVICIOS---------------------------*/

#servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.contenedor_servicios{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#lado{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-evenly;
    margin: 20px;
    width: 90%;
}

.detalle{
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: -2rem 0 3rem #000;
    color: #212022;
    flex-direction: column;
    height: 25%;
    padding: 10px;
    width: 90%;
    min-width: min-content;
}

.descripcion{
    font-size: 1em;
    overflow: auto;
}

.detalle:hover{
    transition-property: all;
    transition: width 2s, height 2s, transform 2s;
    background-color: rgb(122, 109, 95);
    box-shadow: -2rem 0 3rem rgb(155, 151, 151);
}

#servicios_responsive{
    display: none;
}

/*----------------------ESTUDIOS------------------------------*/

#estudios{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px; 
    height: 90vh;
    width: 100vw;
}

.contenedor_estudios{
    display: flex;
    height: 100vh;
    width: 80%;
    top: 30px;
    left: 50px;
    padding-top: 20px;
}

.card {
    display: flex;
    height: 480px;
    background-color: #212022;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position:relative;
    left: 0px;
    width: 100%;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out; /*transiciones aplicadas a las cards*/
}

.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;/*transiciones aplicadas a las cards*/
}

.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}

.barra {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}

.barra_vacia {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.barra_llena {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out; /*transiciones aplicadas a las cards*/
}

.card:hover .barra_llena {
    width: 120px;
    transition: 0.4s ease-out; /*transiciones aplicadas a las cards*/
}

.estudio {
    display: flex;
    left: 15px;
    position: absolute;
    top: 150px;
    min-width: 20%;
    overflow-x: hidden;
}

.estudio img{
    width:350px;
    height:250px;
}

.botones_estudios_responsive{
    display: none;
}

/*----------------------------ARTISTAS--------------------------*/

#artistas{
    align-items: center;
    color:  #212022;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    margin-top: 10px;
    background-image: url("/estilos/imagenes/vecteezy_white-background-abstract-with-modern-design-gray_5553508.jpg");
}

.contenedor_artistas{
    justify-content: space-around;
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    font-size: 1.3em;
    margin: 20px;
    height: 40vh;
    width: 80%;
    gap: 10px;
    padding: 10px;
}

/*-------------------------------------QUIENES SOMOS ------------------------------------------------------*/

#quienes_somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.equipo{
    align-items: center;
    display: flex;
    height: 300%;
    justify-content: space-around;
    padding: 30px;
    padding-top: 30px;
    width: 100%;
}

.miembro {
    border-radius: 6px;
    box-shadow: -1rem 0 4rem #6b5b49;;
    height: 200px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    width: 30%;
}

.circulo img {
    width: 100px;
    height: auto;
    box-shadow: -1rem 0 4rem #6b5b49;
    overflow: hidden;
    border-radius: 100%;
    margin: -60px auto 0;
}

.nombre {
    padding: 20px;
}

.sobreMi{
    padding-bottom: 20px; 
}

/*-----------------------------------------CONTACTO---------------------------------------------------------*/

#contacto{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.contenedor_contacto{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    width: 90%;
}

.mapa{
    text-align: center;
    width: 50%;
    height: auto;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 50%;
}

input{
    background-color: #fbfbfb; 
    width: 400px; 
    height: 30px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #161516; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #141314; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

label{
    display: block; 
    float: center;  
}

#enviar{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 20px;   
    text-transform: uppercase;
    background-color: #6b5b49; 
    border-style: solid; 
    border-radius: 10px;  
    box-shadow: -1rem 0 4rem #6b5b49;
    width: 100px;   
    cursor: pointer;
}

#enviar p{
    color: #fff; 
}

span{
    color: #090709; 
}

.aviso{
    font-size: 13px;  
    color: #0e0e0e;  
}

h3{
    text-align: letf; 
    padding-bottom: 20px; 
    color: #010101;
}

h4{
    padding-bottom: 30px;
    color: #0e0e0e;   
}

p{
    font-size:0.75em; 
    color: #0e0e0e; 
}

::-webkit-input-placeholder {
color: #a8a8a8;
}

::-webkit-textarea-placeholder {
color: #a8a8a8;
}

.formulario input:focus{
    outline:0;
    border: 1px solid #e1cc9d;
}

.formulario textarea:focus{
    outline:0;
    border: 1px solid #e1cc9d;
}

/*--------------------------------------------------FOOTER ------------------------------------------------------*/

footer{
    display: grid;
    text-align: center;
    background-color: #212022;
    grid-template-columns: auto;
    height: 20vh;
    padding: 15px;
    width: 100vw;
}

.foo{
    margin-left: -15px;
    text-align: center;
    font-size: 1.3em;
    background-color: #212022;
    color:rgb(228, 95, 95);
    height: 2vh;
    padding: 15px;
    width: 100vw;
}

.foo::before{
    content: "All rights reserved to  ";
    color:rgb(155, 151, 151)
}

.foo::after{
    content: "  © 2022";
    color:rgb(155, 151, 151)
}

.logos{
    display: grid;
    text-align-last: center;
    align-content: center;
    font-size: 1.5em;
    padding-right: 5px;
    color: rgb(155, 151, 151);
}
.logos a:link {color: rgb(155, 151, 151);}
.logos a:hover {background-color: #525758;}
.logos a:visited {color: rgb(155, 151, 151);}
.logos a:active {background-color: whitesmoke; color: rgb(155, 151, 151);}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------Estilo Pagina ESTUDIOS--------------------------------------------------*/

/*.nos_estudios{
    align-items: center;
    margin-top: 130px;
    padding: 10px; 
    height: 135vh;
    width: 100%;
}
.detalle_nos_estudios{
    padding-top: 5px;
    align-items: center;
    text-align: left;
    text-align: justify;
    font-size: 1.3em;   
}
.cheader_studios{
    align-items: center;
    display: grid;
    height: 1vh;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 100%;
    z-index: 1;
}
.cheader_studios .ul{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 10%;
    align-items: center;
    height: 100%;
}
.cheader_studios .ul li{
    list-style-type:none;
    font-size: 1.5em;
    align-items: center;
    padding: 5px;
}
.detalle_estudio{
    display: grid;
    grid-template-columns: 25% 75%;
    height: 48vw; 
    width: 100%;
    padding-top: 100px;
}
.ul > button{
    height: 45px;    
    text-transform: capitalize;
    background-color: #8d857c; 
    color: white;
    border-style:hidden; 
    border-radius: 10px;  
    width: 150px;   
    cursor: pointer;
}
.imgest2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    height: 1vh;
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
}
.imgest2 img{
    height: 280px;
    width: 100%;
}
.imgest2 img:hover{
    transition-property: all;
    transition: width 3s, height 2s, transform 2s;
    transform: rotate(5deg);
    height: 240px;
    width: 100%;
    transform: scale(1.2,1.2);
}*/

#nos_estudios{
    display: grid;
    grid-template-rows: auto;
    margin-top: 180px;
    height: 220vh;
    width: 100vw;
    padding-top: 15px;
}
.global_estudio{
    display: grid;
    grid-template-rows: auto;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0px;
    height: 200vh;
    width: 100vw;
}
.detalle_estudio{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: #6b5b49;
    border-radius: 10px;
    height: 50vh; 
    margin: 10px;
    justify-content: space-around;
    width: 90vw;
    padding: 10px;  
}

.imgest{
    border-radius: 10px;
    height: 20vh;
    margin-top: -120px;
    width: 30vw;
}

.imgest img{
    margin-top: 10px;
    border-radius: 10px;
    height: 250px;
    width: 400px;
}

.dato{
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 10px;
    justify-content: center;
    height: 30vh;
    padding: 10px;
    width: 50vw;
}

.dato h2{
    font-size: 1.5em;
    color: whitesmoke;
    padding-bottom: 10px;
}

.dato p{
    font-size: 1em;
    color: whitesmoke;
}



/*--------------------------------------------------------------- Estilos Pagina PORTAFOLIO---------------------------------------------------------------*/

/*----------------------GRABACIONES-------------------*/

#nuestros_trabajos{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-top: 120px;
    width: 100vw;
}

.carrusel{
    align-items: center;
    color:  #212022;
    display: grid;
    flex-direction: column;
    height: 95%;
    width: 95%;
    justify-content: center;
    margin-top: 10px;
    padding: 30px;   
} 
.media-scroller{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    display: grid;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    gap: 20px;
    max-width:800px ;
    max-height: 100vh;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
    overscroll-behavior-inline: contain ;
}

.media_element{
    display: grid;
    grid-template-rows: min-content;
    
}
.media-element > a > img {
    inline-size: 100%;
    object-fit: cover; 
}

.title2{
    text-align: center;
    color: black;
}

.grabaciones{
    align-items: center;
    display: flex;
    height: 500px;  
    justify-content: space-around;
    padding-top: 30px;
}

.discos {
    align-items: center;
    background-color: rgb(230, 228, 228);
    border-radius: 20px;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 450px;
    padding: 20px;
    padding-top: 30px;
    width: 20%;
}

.discos img {
    height: 150px;
    margin-top: 20px;
    width: 150px;
}
.nombreDiscos {
    margin-top: 20px;
}
.nombreArtista {
    margin-top: 10px; 
}
.info{
    margin-top: 20px;
    overflow-y: scroll;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------DISENO RESPONSIVO---------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/* PRIMER BREAK-POINT*/

@media (max-width:1200px){

/* -------------INDEX--------------*/
/*---------------------------------*/
    .contenedor_estudios{
        display: none;
    }

    #estudios{
        height: 45vh;
        width: 100%;
    }
    
    .botones_estudios_responsive{
        align-items: center;
        display:flex;
        padding: 20px;
        width: 100%;
    }

    #estudio_boton{
        align-items: center;
        display:flex;
        flex-direction: column;
        border: #000;
        width: 100%;
    }

    #estudio_boton img{
        border-radius: 10px;
        box-shadow: -1rem 0 4rem #6b5b49;
        width: 180px;
        height: 130px;
    }

    #artistas{
        height: 70vh;
}

/*----------ESTUDIOS ------*/
/*-------------------------*/
/*.nos_estudios{
    margin-top: 110px;
    height: 130vh;
}*/
#nos_estudios{
    display: grid;
    grid-template-rows: auto;
    margin-top: 180px;
    height: 210vh;
    width: 100vw;
    padding-top: 15px;
}
.global_estudio{
    height: 180vh;
}
.detalle_estudio{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    border-radius: 10px;
    height: 50vh; 
    margin: 10px;
    justify-content: space-around;
    width: 95vw;
    padding: 10px;  
}

.imgest{
    margin-top: -100px;
}
.dato{
    margin-left: 100px;
}
}

/* SEGUNDO BREAK-POINT*/

@media (max-width: 1000px){

    .copy_header img{
        width: 70%;
        height: auto;
    }

/* -------------INDEX--------------*/
/*---------------------------------*/
    
    .barra_menu{
        width: 80%;
    }

    .barra_menu ul li{
        font-size: 1.1em;
    }

    #titulo{
        font-size: 1.5em;
    }
    .imgppal{
        height: auto;
    }

    .contenedor_contacto{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .mapa iframe{
        width: 100%;
        
    }
    .formulario{
        padding: 30px;
        width: 100%;
    }

    .formulario_contacto{
        align-items: center;
        width: 50%;
    }

    /*---------- INDEX: Artistas ------*/
    #artistas{
        height: 90vh;
        padding-top: 40px;
    }

    /*---------- INDEX: Quienes Somos ------*/
    #quienes_somos{
        height: 80vh;
        padding-top: 50px;
    }
    

/*----------ESTUDIOS ------*/
/*-------------------------*/

    /*.nos_estudios{
        margin-top: 110px;
        height: 120vh;
    }
    .detalle_nos_estudios{
        padding-top: 30px;
        text-align: left;
        text-align: justify;
        font-size: 1em;
    }
    .detalle_estudio{
        display: grid;
        grid-template-columns: auto;
        height: 80%; 
        width: 100%;
        margin-top: 10px;
        padding-top: 30px;
    }
    .imgest2{
        padding-left: 0px;
        padding-top: 10px;
    }
    .imgest2 img{
        height: 210px;
        width: 100%;
    }*/

    #nos_estudios{
        display: grid;
        grid-template-rows: auto;
        margin-top: 180px;
        height: 210vh;
        width: 100vw;
        padding-top: 15px;
    }
    .global_estudio{
        height: 180vh;
    }
    .detalle_estudio{
        display: grid;
        grid-template-rows: auto;
        align-items: center;
        border-radius: 10px;
        height: 50vh; 
        margin: 10px;
        justify-content: space-around;
        width: 95vw;
        padding: 10px;  
    }
    
    .imgest{
        margin-top: -100px;
    }
    .imgest img{
        height: 35vh;
        width: 40vw;
        margin-left: 50px;
    }
    .dato{
        margin-left: 150px;
        margin-right: 40px;
        height: 40vh;
        font-size: 1.0em;
    }

/*--------------PORTAFOLIO---------*/
/*--------------------------------*/

    #nuestros_trabajos{
        height: 100%;
        margin-top:170px;
    }

    .grabaciones{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 50%;
    }

    .discos {
        height: 30%;
        padding-top: 30px;
        margin: 20px;
        width: 70%;
    }
    .discos p{
        overflow: scroll;
        }
    
    .media-scroller{
        width: 100%;
    }
}

/* TERCER BREAKPOINT*/

@media (max-width: 750px){

/* -------------INDEX--------------*/
/*---------------------------------*/
    #titulo{
        font-size: 1.5em;
    }

    .imgppal{
        height: auto;
    }
    .copy_header{
        max-width: 100vw;
        position: fixed;
        top:0;
    }
    .checkbtn{
        display: grid;
    }
    .barra_menu ul{
        position: fixed;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        font-size: 90%;
        width: 100vw;
        height: 10vh;
        top: 110px;
        right: 100%;
        text-align:left;
        transition: all .5s;
        background-color: rgb(153, 138, 124);
        padding-top: 10px;
    }
    .barra_menu ul li{
        display:grid;
        margin: 0px;
    }
    .barra_menu ul li a{
        color:  #edeaf1;
    }

    .barra_menu ul li a:hover{
        color:  #dde0e7;
        background-color: rgb(131, 125, 120);
    }
    #check:checked ~ ul{
        left:0;
    }

    #quienes_somos{
        height: 80vh;
        align-items: center;
        display: flex;
    }

    .equipo{
        align-items: center;
        flex-direction: column;
        height: 80vh;
    }

    .miembro{
        align-items: center;
        background-color: whitesmoke;
        display: flex;
        margin-top:20px;
        padding: 10px;
        width: 80vw;
    }

    .circulo img {
        width: 100px;
        height: 100px;
        box-shadow: -1rem 0 4rem #6b5b49;
        overflow: hidden;
        border-radius: 100%;
        margin: 5px auto 0;
        left: 30px;
    }

    .nombre {
        padding: 30px;
        color: #6b5b49;
    }
    
    .sobreMi{
        color: #6b5b49;
        padding-bottom: 10px; 
    }

    /*---------- INDEX: Nosotros ------*/
    #nosotros{
        height: 45vh; 
    }

    /*---------- INDEX: Servicios ------*/
    #servicios{
        height: 55vh;
    }

    .contenedor_servicios{
        display: none;
    }
    #servicios_responsive{
        margin-top: 30px;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 40vh;
        justify-content: space-around;
        width: 100vw;
    }
    .botones{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 20vh;
        width: 70%;
    }
    #servicio{
        width: 100px;
        height: 100px;
        padding: 5px;
        border-radius: 10%;
        background-color: whitesmoke;
        text-align: center;
        position: relative;
        overflow: hidden;
    }
    #servicio i,
    #servicio h4,
    #servicio p{
        position: relative;
        z-index: 1;
        transition: all 300ms;
    }
    #servicio i{
        font-size: 30px;
        color: rgb(88, 68, 54);
        transform: translateY(10px);
    }
    #servicio:hover{
        width: 200px;
        height: 120px;
        /*border-radius: 5%;*/
        cursor: pointer;
        box-shadow: -15px 15px 25px -15px rgb(37, 35, 35);
    }
    #servicio:hover i{
        color: #dde0e7;
        font-size: 20px;
        transform: translateY(0px);
    }
    #servicio h4{
        margin-top: 5px;
        font-size: 15px;
        transform: translateY(10px);
        text-decoration: none;
        color: #000;
    }
    #servicio:hover h4{
        color: #dde0e7;
        transform: translateY(-10px);
        opacity: 0;
    }
    #servicio p{
        margin-top: -20px;
        font-size: 10px;
        transform: translateY(100px);
        opacity: 0;
    }
    #servicio:hover p{
        transform: translateY(0px);
        opacity: 1;
        color: whitesmoke;
        font-size: 12px;
        margin-top: -50px;
    }
    #servicio .background-hover{
        width: 150px;
        height: 150px;
        position: absolute;
        background-color: rgb(100, 96, 88);
        top: 250px;
        left: -170px;
        border-radius: 100%;
        transition: all 500ms;
        background: linear-gradient(to bottom, rgb(184, 167, 167), rgb(44, 44, 49));
    }
    #servicio:hover .background-hover{
        width: 300px;
        height: 300px;
        top: -50px;
        left: -50px;
    }

    /*---------- INDEX: Quienes Somos ------*/
    #quienes_somos{
        padding-top: 60px;
        height: 125vh;
    }

    /*---------- INDEX: Contacto ------*/
    #contacto{
        padding-top: 50px;
    }

    /*---------- ESTUDIOS ------*/
    #nos_estudios{
        display: grid;
        grid-template-rows: auto;
        align-items: center;
        margin-top: 180px;
        height: 310vh;
        width: 100vw;
        padding-top: 15px;
    }
    .global_estudio{
        display: grid;
        grid-template-rows: auto;
        align-items: center;
        width: 90vw;
        height: 300vh;
    }
    .detalle_estudio{
        display: grid;
        grid-template-rows: auto;
        align-items: center;
        border-radius: 10px;
        height: 90vh; 
        margin: 10px;
        margin-left: 80px;
        width: 90vw;
        padding: 10px;  
    }
    .imgest{
        margin-top: -450px;
        margin-left: 10px;
    }
    .imgest img{
        border-radius: 10px;
        padding: 10px;
        width: 70vw;
        height: 40vh;
    }
    .dato{
        display: grid;
        grid-template-rows: auto auto;
        margin-top: 400px;
        margin-left: -120px;
        margin-right: 60px;
        height: 40vh;
        width: 80vw;
        margin-top: 300px;
        justify-content: center;
        padding: 10px;
    }
}

/* CUARTO BREAKPOINT*/
@media (max-width: 600px){

    /*---------- MENÚ RESPONSIVE ------*/
    .barra_menu ul{
        position: fixed;
        display: grid;
        grid-template-columns: auto;
        font-size: 80%;
        width: 110px;
        height: 200px;
        top: 130px;
        right: 100%;
        text-align:left;
        transition: all .5s;
        padding-top: 10px;
    }

    /*---------- INDEX: Nosotros ------*/
    #nosotros{
        height: 60vh;
    }

    /*---------- INDEX: Quienes Somos ------*/
    #quienes_somos{
        padding-top: 40px;
        height: 105vh;
    }
    .equipo{
        height: 100%;
        padding: 30px;
        padding-top: 30px;
    }

    /*---------- ESTUDIOS ------*/
    /*.nos_estudios{
        margin-top: 140px;
        height: 150vh;
    }
    .cheader_studios .ul{
        padding-left: 20px;
    }
    .ul > button{  
        font-size: 70%;   
        width: 100px;   
    }*/

    /*---------- PORTAFOLIO ------*/
    #nuestros_trabajos{
        height: 100%;
        margin-top:140px;
    }
}